.sunburst-panel {
    position: relative;
    padding: 0;
}
.sunburst-legend ul {
    display: inline;
}
.sunburst-legend ul li {
    border-left: 1px solid #fff;
    color: #fff;
}
.sunburst-tooltip {
    position: absolute;
    height: auto;
    padding: 10px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.sunburst-tooltip table {
    border-collapse: collapse;
}

.sunburst-tooltip th {
    border-left: #ccc 3px solid;
    padding-left: 7px;
    padding-right: 5px;
    font-weight: normal;
}

.hidden {
    display: none;
    transition: opacity 3s 0;
}

