.sunburst-panel {
    position: relative;
    padding: 0;
}
.sunburst-legend ul {
    display: inline;
}
.sunburst-legend ul li {
    border-left: 1px solid #fff;
    color: #fff;
}
.sunburst-tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: #333;
    color: #ccc;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.sunburst-tooltip ul li {
    list-style: none;
    border-left: #ccc 3px solid;
    padding-left: 7px;
    margin-bottom: 1px;
}

.hidden {
    display: none;
    transition: opacity 3s 0;
}

