<div class="ctrl-row">
	<div class="section">
		<h5>General</h5>

		<div class="tight-form-container">
			<div class="tight-form">
				<ul class="tight-form-list">
					<li class="tight-form-item" style="width: 80px">Graph type</li>
					<li>
						<select class="gf-form-input"
							ng-model="ctrl.panel.graphType"
							ng-options="t for t in ['bar', 'bar-color', 'dot', 'dot-line', 'dot-color', 'dot-size', 'line', 'grid', 'surface']"
							ng-change="ctrl.render()">
						</select>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>

			<div class="tight-form">
				<ul class="tight-form-list">
					<li class="tight-form-item" style="width: 80px">Link prefix</li>
					<li>
						<input type="text" class="tight-form-input" style="width: 300px"
							ng-model="ctrl.panel.linkPrefix" ng-change="ctrl.render()">
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
		</div>
	</div>
</div>

<div class="ctrl-row">
	<div class="section">
		<h5>Nodes</h5>

		<div class="tight-form-container">
			<div ng-repeat="(key, style) in ctrl.panel.styles">
				<div class="tight-form">

					<ul class="tight-form-list">
						<li class="tight-form-item" style="width: 200px; font-weight: bold">
							{{key}}
						</li>

						<li class="tight-form-item">Type</li>
						<li>
							<select class="input-small tight-form-input"
								ng-model="style.type"
								ng-options="c.value as c.text for c in ctrl.columnTypes"
								ng-change="ctrl.render()"
								style="width: 150px">
							</select>
						</li>
					</ul>
					<div class="clearfix"></div>

					<ul class="tight-form-list" ng-if="style.type === 'date'">
						<li class="tight-form-item text-right" style="width: 200px">Format</li>
						<li>
							<select class="input-small tight-form-input"
								ng-model="style.format"
								ng-options="c.value as c.text for c in ctrl.dateFormats"
								ng-change="ctrl.render()"
								style="width: 200px">
							</select>
						</li>
					</ul>

					<ul class="tight-form-list" ng-if="style.type === 'number'">
						<li class="tight-form-item text-right" style="width: 200px">Unit</li>
						<li class="dropdown" style="width: 150px"
							ng-model="style.unit"
							dropdown-typeahead="ctrl.unitFormats"
							dropdown-typeahead-on-select="ctrl.setUnitFormat(style, $subItem)">
						</li>

						<li class="tight-form-item text-right">Decimals</li>
						<li style="width: 105px">
							<input type="number" class="input-mini tight-form-input"
								ng-model="style.decimals" ng-change="ctrl.render()" ng-model-onblur>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>

			</div>

			<div class="tight-form">
				<ul class="tight-form-list">
					<li class="tight-form-item" style="width: 200px; font-weight: bold">
						Root
					</li>
					<li class="tight-form-item">Key</li>
					<li>
						<input type="text" class="tight-form-input" style="width: 200px"
							ng-model="ctrl.panel.rootKey" ng-change="ctrl.render()">
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
